*{
    margin: 0px;
    border-radius: 12px;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    border-radius: 0;
}

/*Top page container*/
.container__top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 18px;
    background-color: black;
    width: 1000px;
    padding: 18px;
    margin-top: 30px;
    margin-bottom: 30px;

}
video{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: fill;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: fill;
}
.section1{
    grid-column: 1;
    grid-row: 1;

}
.section2{
    grid-column: 1;
    grid-row: 2;
}
.section3{
    grid-column: 2;
    grid-row: 1 / span 2 ;
}
.section4{
    grid-column: 1 / span 2 ;
    grid-row: 3 / span 2 ;
}

/*Bottom page container*/
.container__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 18px;
    background-color: black;
    width: 1000px;
    padding: 36px;
    margin-bottom: 30px;
}
.bsection1{
    grid-column: 1;
    grid-row: 1;
}
.bsection2{
    grid-column: 1;
    grid-row: 2;
}
.bsection3{
    grid-column: 2;
    grid-row: 1 / span 2 ;
}
